<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headerBlock">
<style type="text/css"></style>
</head>
<body>
	<div th:replace="header :: navBar" ></div>
	<br/><br/>
	<div class="container col-sm-12 col-md-6 col-md-offset-2" >
		<form action="/registrarVenda" method="post" th:object="${venda}" enctype="multipart/form-data">
			<a href="/exibirProdutosVenda" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Voltar para a lista de Produtos para Venda</a><br/><br/><br/>
			<input type="hidden" th:field="*{codigo}">
			<label for="nome">Nome Produto:</label>		
			<b><a th:text="${produto.nome}"></a></b><br/>
			<label for="nome">Preço Produto(R$):</label>		
			<b><a th:text="${produto.preco}"></a></b>
			
			<div class="form-group">
				<label for="quantidade">Quantidade</label> 
				<input type="number" min="1" class="form-control" id="quantidade"
					th:field="*{quantidade}" 
					placeholder="Quantidade" required>
			</div>
			<div class="form-group">
				<label for="cliente">Cliente</label> 
				<select id="cliente" class="form-control"  th:field="*{cliente}">
					<option value="0">Selecione um cliente:</option>
					<option th:each="cli : ${listaClientes}" th:text="${cli.nomeCompleto}"  th:value="${cli.codigo}" />
				</select>
			</div>
				
			<div th:if="${#fields.hasErrors('*')}">
				<ul>
					<li th:each="erro : ${#fields.errors('*')}" th:text="${erro}" class="alert-danger">
				</ul>
			</div>
			<button type="submit" class="btn btn-primary">Registrar Venda</button>
			<hr/>
			
			
		</form>
	</div>
</body>
</html>