<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: headerBlock">
</head>
<body>

	<div th:if="${mensagemErro}" th:text="${mensagemErro}"></div>
	<form action="/efetuarLogin" method="post">
		
		<div class="row align-items-center justify-content-center h-100 w-50">
			<div class="form-group col-md-12 text-align-center">
			<h4>Login</h4>
			</div>
			<div class="form-group col-md-12">
				<input name="apelido" class="form-control" placeholder="Apelido"/>
			</div>
			<div class="form-group col-md-12">
				<input type="password" class="form-control" name="senha" placeholder="Senha"/>
			</div>
			
			<button type="submit" class="btn btn-primary btn-sm w-100">Entrar</button>
			
		<div>	
		
	</form>
</body>
</html>